In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk

נקרא לקובץ דרך גיטהאב ונסתכל על השורות הראשונות\אחרונות כדי לדעת את סוגי העמודות.

In [2]:
url = 'https://raw.githubusercontent.com/amitfallach/disney-plus-shows/main/disney_plus_shows.csv'
disney_df= pd.read_csv(url)
disney_df = disney_df.copy() 
disney_df.tail()

,imdb_id,title,plot,type,rated,year,released_at,added_at,runtime,genre,director,writer,actors,language,country,awards,metascore,imdb_rating,imdb_votes
987,tt3544734,Zapped,"When Zoey's mom remarries, Zoey finds it hard ...",movie,TV-G,2014,23 Jun 2014,"November 12, 2019",102 min,"Comedy, Family, Fantasy",Peter DeLuise,"Leslie Margolis (based on the novel ""Boys Are ...","Zendaya, Chanelle Peloso, Spencer Boldman, Emi...",English,"Canada, USA",5 wins & 1 nomination.,NaN,5.1,"3,750"
988,tt0186726,Zenon: Girl of the 21st Century,An inquisitive teenager pries into suspected d...,movie,TV-G,1999,23 Jan 1999,"November 12, 2019",97 min,"Adventure, Comedy, Family, Sci-Fi",Kenneth Johnson,"Marilyn Sadler (book), Roger Bollen (book), St...","Kirsten Storms, Raven-Symoné, Stuart Pankin, H...",English,USA,2 nominations.,NaN,6.4,"6,378"
989,tt0271271,Zenon: The Zequel,A mischievous fifteen-year-old girl living on ...,movie,TV-G,2001,12 Jan 2001,"November 12, 2019",100 min,"Comedy, Family, Adventure, Sci-Fi",Manny Coto,"Marilyn Sadler (book), Roger Bollen (book), St...","Kirsten Storms, Shadia Simmons, Lauren Maltby,...",English,"USA, New Zealand",1 nomination.,NaN,5.9,"3,318"
990,tt0379060,Zenon: Z3,The heroine sets out to win an important compe...,movie,TV-G,2004,11 Jun 2004,"November 12, 2019",81 min,"Adventure, Comedy, Family, Sci-Fi",Steve Rash,"Marilyn Sadler (character from the book ""Zenon...","Kirsten Storms, Lauren Maltby, Alyson Morgan, ...",English,USA,NaN,NaN,5.5,"2,339"
991,tt2948356,Zootopia,"In a city of anthropomorphic animals, a rookie...",movie,PG,2016,04 Mar 2016,"November 12, 2019",108 min,"Animation, Adventure, Comedy, Crime, Family, M...","Byron Howard, Rich Moore, Jared Bush(co-director)","Byron Howard (story by), Rich Moore (story by)...","Ginnifer Goodwin, Jason Bateman, Idris Elba, J...",English,USA,Won 1 Oscar. Another 46 wins & 71 nominations.,78.0,8.0,"410,437"

We will cut all the rows that have more than 8 missing values

In [3]:
disney_df = disney_df[disney_df.isnull().sum(axis=1) < 8].reset_index(drop=True)
disney_df.shape

(875, 19)

we look at the types of columns and how much NAN types each have to see if we want to change them

In [4]:
disney_df.dtypes

imdb_id         object
title           object
plot            object
type            object
rated           object
year            object
released_at     object
added_at        object
runtime         object
genre           object
director        object
writer          object
actors          object
language        object
country         object
awards          object
metascore      float64
imdb_rating    float64
imdb_votes      object
dtype: object

In [5]:
disney_df.isnull().sum()

imdb_id          0
title            0
plot            18
type             0
rated          133
year             0
released_at     15
added_at         0
runtime         42
genre            3
director       189
writer         135
actors          15
language        18
country         15
awards         319
metascore      583
imdb_rating      2
imdb_votes       2
dtype: int64

According to the data frame we can be noted that the series has no value in the "Runtime" column that describes the length of the episode / movie , so We fill the NAN values in the average time per episode in a Disney series.

In [6]:
disney_df['runtime'].fillna("30",inplace = True)

We like to make the "Runtime"  column to an integer so that we can compare and use its values later, and we will add the measurement units to the "Runtime" column name.

In [7]:
disney_df['runtime'] = disney_df['runtime'].str.replace('min', '')
disney_df['runtime'] = disney_df['runtime'].str.replace('1 h', '')
disney_df = disney_df.rename(columns= {'runtime':'runtime per min'})
disney_df = disney_df.astype({"runtime per min":int})

We like to make the "imdb_votes" column to an integer and delete the NAN values from "imdb_rating" so that we can compare and use its values later.

There are 2 rows that have NAN values in the "imdb_rating" and "imdb_votes" columns, we will delete them because they have a lot of NAN values .

In [8]:
emptyrows = disney_df[disney_df["imdb_rating"].isnull()]
emptyrows

,imdb_id,title,plot,type,rated,year,released_at,added_at,runtime per min,genre,director,writer,actors,language,country,awards,metascore,imdb_rating,imdb_votes
409,tt11113964,Marvel Rising: Operation Shuri,NaN,movie,TV-Y7-FV,2019,11 Oct 2019,"February 21, 2020",21,"Animation, Short, Action, Adventure","Chris Rutkowski, Eric Radomski",NaN,NaN,English,USA,NaN,NaN,NaN,NaN
580,tt6390686,Sea of Hope: America's Underwater Treasures,"Oceanographer Dr. Sylvia Earle, National Geogr...",movie,NaN,2017,01 Jan 2017,"November 12, 2019",48,Documentary,Robert Nixon,"Robert Nixon, Gary Parker",NaN,English,USA,NaN,NaN,NaN,NaN

In [9]:
disney_df = disney_df[disney_df["imdb_rating"].notna()]
disney_df["imdb_votes"] = disney_df["imdb_votes"].str.replace(',', '')
disney_df = disney_df.astype({"imdb_votes":int})
disney_df.reset_index(drop = True).tail()

,imdb_id,title,plot,type,rated,year,released_at,added_at,runtime per min,genre,director,writer,actors,language,country,awards,metascore,imdb_rating,imdb_votes
868,tt3544734,Zapped,"When Zoey's mom remarries, Zoey finds it hard ...",movie,TV-G,2014,23 Jun 2014,"November 12, 2019",102,"Comedy, Family, Fantasy",Peter DeLuise,"Leslie Margolis (based on the novel ""Boys Are ...","Zendaya, Chanelle Peloso, Spencer Boldman, Emi...",English,"Canada, USA",5 wins & 1 nomination.,NaN,5.1,3750
869,tt0186726,Zenon: Girl of the 21st Century,An inquisitive teenager pries into suspected d...,movie,TV-G,1999,23 Jan 1999,"November 12, 2019",97,"Adventure, Comedy, Family, Sci-Fi",Kenneth Johnson,"Marilyn Sadler (book), Roger Bollen (book), St...","Kirsten Storms, Raven-Symoné, Stuart Pankin, H...",English,USA,2 nominations.,NaN,6.4,6378
870,tt0271271,Zenon: The Zequel,A mischievous fifteen-year-old girl living on ...,movie,TV-G,2001,12 Jan 2001,"November 12, 2019",100,"Comedy, Family, Adventure, Sci-Fi",Manny Coto,"Marilyn Sadler (book), Roger Bollen (book), St...","Kirsten Storms, Shadia Simmons, Lauren Maltby,...",English,"USA, New Zealand",1 nomination.,NaN,5.9,3318
871,tt0379060,Zenon: Z3,The heroine sets out to win an important compe...,movie,TV-G,2004,11 Jun 2004,"November 12, 2019",81,"Adventure, Comedy, Family, Sci-Fi",Steve Rash,"Marilyn Sadler (character from the book ""Zenon...","Kirsten Storms, Lauren Maltby, Alyson Morgan, ...",English,USA,NaN,NaN,5.5,2339
872,tt2948356,Zootopia,"In a city of anthropomorphic animals, a rookie...",movie,PG,2016,04 Mar 2016,"November 12, 2019",108,"Animation, Adventure, Comedy, Crime, Family, M...","Byron Howard, Rich Moore, Jared Bush(co-director)","Byron Howard (story by), Rich Moore (story by)...","Ginnifer Goodwin, Jason Bateman, Idris Elba, J...",English,USA,Won 1 Oscar. Another 46 wins & 71 nominations.,78.0,8.0,410437

In [10]:
disney_df.dtypes

imdb_id             object
title               object
plot                object
type                object
rated               object
year                object
released_at         object
added_at            object
runtime per min      int32
genre               object
director            object
writer              object
actors              object
language            object
country             object
awards              object
metascore          float64
imdb_rating        float64
imdb_votes           int32
dtype: object